/* 새글 스킨 (latest) */
.lat {position:relative;}
.lat ul {margin:0 0 10px;padding:0;list-style:none;border:1px solid #e5e5e5}
.lat li {border-top:1px solid #f3f3f3;padding:10px}
.lat li:first-child{border:0}
.lat_title {display:block;padding:10px 0 8px;font-size:1.167em}
.lat_more {position:absolute;top:10px;right:0;}
